<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <title>Vòng Quay Pubg Mobile VN</title>
    <link rel="icon" href="https://scontent.xx.fbcdn.net/v/t1.15752-0/p480x480/79243393_2413550552087276_1935671649261060096_n.jpg?_nc_cat=101&_nc_ohc=0g4RiPL3sS0AQkHPMtvmGwGMHCdO2oTUJbHMoI0tvFFRPqdCl5ATbAo3A&_nc_ad=z-m&_nc_cid=0&_nc_zor=9&_nc_ht=scontent.xx&oh=0ff44723d8bd2f686a871feae73c3bd7&oe=5E8B0B65">
    <link rel="shortcut icon" href="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.15752-0/p480x480/79243393_2413550552087276_1935671649261060096_n.jpg?_nc_cat=101&_nc_ohc=0g4RiPL3sS0AQkNDicJUzYNurnK_4r7o2iJSSxGq-zsD5Q1lRfcdI44kA&_nc_ht=scontent.fsgn5-1.fna&oh=202a0e6ea22be7e2afe7b3d48785b8fb&oe=5E8B0B65">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
    <link href="assets/frontend/vongquay/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/frontend/vongquay/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="assets/frontend/vongquay/css/style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src="https://code.jquery.com/jquery-2.0.0.min.js"></script>
    <style>
        body {
            /*background-image: url(wukong-skin.jpg);*/
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        
        @media all and (max-width:480px) {
            .c-layout-page {
                width: 100%;
                display: block;
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        @media all and (min-width:481px) and (max-width: 772px) {
            .c-layout-page {
                width: 80%;
                margin: auto;
            }
        }
        
        @media all and (min-width: 773px) and (max-width: 992px) {
            .c-layout-page {
                width: 70%;
                margin: auto;
            }
        }
        
        @media all and (min-width: 993px) {
            .c-layout-page {
                width: 60%;
                margin: auto;
            }
        }
    </style>
</head>

<body>
    <div class="c-layout-page" style="">
        <!-- BEGIN: PAGE CONTENT -->
        <!--<div style="display: block;margin: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">-->
        <div class="c-content-title-1 pd50" style="    position: relative;z-index: 99;">
            <h3 class="c-center c-font-uppercase c-font-bold">Vòng Quay Pubg Mobile VN</h3>
            <div class="c-line-center c-theme-bg"></div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="c-content-box c-size-md c-bg-white" style="background: transparent !important;">
                <!-- <div class="container"> -->
                <div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">

                    <div class="row row-flex-safari game-list" style="display: flex; flex-wrap: wrap">
                        <div class="item item-left">

                            <section class="rotation">
                                <div class="play-spin">
                                                <a class="ani-zoom" style="width: 90px;z-index: 5;top: calc(50% - 50px);left: calc(50% - 45px);" <% if(locals.users){%> id="play" <% } else {%> href="/dang-nhap" <% } %>  ><img src="assets/frontend/vongquay/image/IMG_3478.png" alt="Play Center"></a>
                                                                        <div id="rotate-play">
                                        <img style="width: 80%;max-width: 80%;opacity: 1;border-radius: 50%;" src="storage/images/vongquaylienquan22.jpg" alt="Play">
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                    <div class="table-body scrollbar-inner">
                        <table class="table table-bordered">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 list-roll" style="position: relative;z-index: 99;">
            <div class="btn-top">
                    <a  <% if(locals.users){%> href="/dang-xuat" <% } else {%> href="/dang-nhap" <% } %>  class="col-sm-5 col-xs-12 btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill">
                        <span>
                            <i class="la la-cloud-upload"></i>
                            <h3 class="num-play" style="color: white;font-size: 30px;"><% if(locals.users){%> Đăng Xuất <% } else {%> Đăng Nhập <% } %></h3>
                        </span>
                    </a>
            </div>
        </div>
         
        <div id="bginform" style="display:none;width: 100%;height: 100%;position: fixed;top: 0px;left: 0px;z-index: 9999999;">
            <div style="display: block;margin: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);    border: 1px solid #ddd;">
                <div style="padding: 10px;width: 300px;background: greenyellow;font-size: 25px;text-align: center;background: #36c6d3;    color: white;"><b>Thông Báo</b></div>
                <div style="padding: 25px 20px 10px 20px;width: 300px;background: white;font-size: 15px;text-align: center;">
                    <span id="result"></span>
                    <br>
                    <button id="button" class="btn btn-success" style="padding: 10px 30px;border: none;color: white;margin: 10px 0px 0px 0px;">Đồng ý</button>
                </div>
            </div>
        </div>

        <style type="text/css">
            #start-played1 {
                cursor: pointer;
            }
            
            .c-content-client-logos-slider-1 .item {
                width: 85%;
            }
        </style>
        <script src="jQueryRotate.2.3.js"></script>
        <script type="text/javascript">
            $('#button').click(function() {
                $('#bginform').hide();
            });
            
            $(document).ready(function(e) {
                
                var pl = 1;
                var play = true;
                //Click nút quay
                $('body').delegate('#play', 'click', function() {
                    if (play) {
                        vongquay(0, "alo");  
                        // $.ajax({
                        //     url: '/NT.php',
                        //     dataType: 'JSON',
                        //     data: {
                        //         play: true
                        //     },
                        //     type: 'post',
                        //     success: function(data) {
                        //         if (pl > 0) {
                        //             vongquay(data.deg, data.phanqua);   
                        //         } else {
                        //             $('#result').html("Xin Lỗi Bạn Đã Quay Hết Lượt Hôm Nay");
                        //             $('#bginform').show();
                        //         }
                        //     }
                        // });
                    }
                });

                function vongquay(deg, phanqua) {
                    play = false;
                    $('#rotate-play').stopRotate();
                    $("#rotate-play").rotate({
                        angle: 0,
                        duration: 3000,
                        animateTo: deg + 3600
                    });
                    setTimeout(function() {
                        $('#result').html(phanqua);
                        $('#bginform').show();
                        play = true;
                        pl = 0;
                    }, 2500);
                }
            });
        </script>
    </div>

</body>

</html>